<header>
    <a href="#" class="nav--btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="#" class="phone--btn"></a>
    <a href="index.html" class="logo">
        <img src="../img/logo.png">
    </a>
    <div class="top">
        <div class="container">
            <div class="slog">
                <p>Контрактное производство</p>
            </div>
            <a href="#" class="col--email">87075511155@mail.ru</a>
            <div class="col--phone phones">
                <a href="#">+7 (707) 551 11 55 </a>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li><a href="#">+7 (707) 551 11 55</a></li>
                    <li><a href="#">+7 (707) 551 11 55</a></li>
                    <li><a href="#">+7 (707) 551 11 55</a></li>
                </ul>
            </div>
            <a href="#" class="call-btn" data-modal="#modal--call">Заказать звонок</a>
        </div>
    </div>
    <div class="bottom">
       <div class="container">
            <ul class="nav">
                <li class="submenu active">
                    <a href="about.html">О компании </a>
                    <ul>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="#">Миссия</a></li>
                        <li><a href="#">лицензии</a></li>
                        <li><a href="#">награды</a></li>
                        <li><a href="#">Наша команда</a></li>                        
                    </ul>
                </li>
                <li class="submenu">
                    <a href="cat.html">Услуги</a>
                    <ul>
                        <li><a href="cat.html">Расходные материалы</a></li>
                        <li><a href="#">Расходные материалы</a></li>
                        <li><a href="#">Расходные материалы</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#">Расходные материалы</a>
                    <ul>
                        <li><a href="#">Расходные материалы</a></li>
                        <li><a href="#">Расходные материалы</a></li>
                        <li><a href="#">Расходные материалы</a></li>
                    </ul>
                </li>
                <li><a href="#">Прайс-лист </a></li>
                <li><a href="#">блог</a></li>
                <li><a href="contacts.html">Контакты </a></li>
            </ul>
            <div class="search">
                <a href="#" class="search--btn"></a>
                <form>
                    <input type="search" placeholder="Поиск по сайту...">
                    <a href="#" class="close-btn"></a>
                </form>
            </div>
            <div class="langs">
                <span>Рус</span>
                <a href="#" class="more--btn"></a>
                <ul>
                    <li><a href="#">Каз</a></li>
                    <li><a href="#">Eng</a></li>
                </ul>
            </div>
       </div>
    </div>
</header>