<a href="#" class="call--btn open--modal" data-modal="#modal--call"><i class="fa fa-phone" aria-hidden="true"></i></a>
<div id="modal--call" class="modal fade">
    <div class="modal__layer"></div>
    <div class="modal__block">
        <a href="#" class="close"></a>
        <h4>Заказать звонок</h4>
        <form>
            <input type="text" placeholder="Имя" required="required">
            <input type="text" name="tel" placeholder="+7 (___) ___-__-__" required="required">
            <div class="g-recaptcha"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfhrpEUAAAAAAW9AX7eciJla_-ApJ4e5Ixm4v4Z&amp;co=aHR0cDovL29ydGlzLjl6Lmt6Ojgw&amp;hl=ru&amp;v=v1559543665173&amp;size=normal&amp;cb=3sxnz7w3g29s" width="304" height="78" role="presentation" name="a-t409zk7lrgux" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response-1" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
            <button type="submit" class="btn" data-modal="#modal--successfully">Отправить</button>
        </form>
    </div>
</div>
<div id="modal--successfully" class="modal">
    <div class="modal__layer"></div>
    <div class="modal__block">
        <a href="#" class="close"></a>
        <h4>Ваше заявка успешно отправлено!</h4>
    </div>
</div>


<div id="modal-contract" class="modal inner fade">
    <div class="modal__layer"></div>
    <div class="modal__block">
        <a href="#" class="close"></a>
        <div class="contract-slider">
            <div>
                <span>1</span>
                <div class="right">
                    <h3>Минимизация капитальных вложений и затрат</h3>
                    <p>Занимаясь выпуском продукции под собственной торговой маркой на мощностях стороннего производителя, вы не инвестируете колоссальные суммы в оборудование, содержание цеха, оплату труда работников, закуп сырья, материалов и комплектующих. Ведь в случае неудачи проекта все эти инвестиции могут и не окупиться.</p>
                </div>
            </div>
            <div>
                <span>2</span>
                <div class="right">
                    <h3>Фокус внимания на рекламе,
                        маркетинге и продажах</h3>
                    <p>Занимаясь выпуском продукции под собственной торговой маркой на мощностях стороннего производителя, вы не инвестируете колоссальные суммы в оборудование, содержание цеха, оплату труда работников, закуп сырья, материалов и комплектующих. Ведь в случае неудачи проекта все эти инвестиции могут и не окупиться.</p>
                </div>
            </div>
            <div>
                <span>3</span>
                <div class="right">
                    <h3>Скорость выхода товара
                        на рынок</h3>
                    <p>Занимаясь выпуском продукции под собственной торговой маркой на мощностях стороннего производителя, вы не инвестируете колоссальные суммы в оборудование, содержание цеха, оплату труда работников, закуп сырья, материалов и комплектующих. Ведь в случае неудачи проекта все эти инвестиции могут и не окупиться.</p>
                </div>
            </div>
            <div>
                <span>4</span>
                <div class="right">
                    <h3>Моментальный фидбэк
                        от конечного потребителя</h3>
                    <p>Занимаясь выпуском продукции под собственной торговой маркой на мощностях стороннего производителя, вы не инвестируете колоссальные суммы в оборудование, содержание цеха, оплату труда работников, закуп сырья, материалов и комплектующих. Ведь в случае неудачи проекта все эти инвестиции могут и не окупиться.</p>
                </div>
            </div>
            <div>
                <span>5</span>
                <div class="right">
                    <h3>Распределение расходов</h3>
                    <p>Занимаясь выпуском продукции под собственной торговой маркой на мощностях стороннего производителя, вы не инвестируете колоссальные суммы в оборудование, содержание цеха, оплату труда работников, закуп сырья, материалов и комплектующих. Ведь в случае неудачи проекта все эти инвестиции могут и не окупиться.</p>
                </div>
            </div>
            <div>
                <span>6</span>
                <div class="right">
                    <h3>Свобода инноваций</h3>
                    <p>Занимаясь выпуском продукции под собственной торговой маркой на мощностях стороннего производителя, вы не инвестируете колоссальные суммы в оборудование, содержание цеха, оплату труда работников, закуп сырья, материалов и комплектующих. Ведь в случае неудачи проекта все эти инвестиции могут и не окупиться.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-cert" class="modal inner fade">
    <div class="modal__layer"></div>
    <div class="modal__block">
        <a href="#" class="close"></a>
        <div class="cert-slider">
            <div>
                <div class="slider-img">
                    <img src="../img/cert-1.png">
                </div>
                <div class="text">
                    <h3>HALAL Kazakhstan</h3>
                    <p><span>HALAL CERTIFICATE</span> - подтверждает, что весь цикл производства продукции и услуг «Халал» осуществляется согласно международным стандартам: МС 1500-2009 руководства по производству, изготовлению, обработке и хранению продукции Халал, стандарты IHI-Alliance: IHIA-0200:2010; IHIA-0600:2010; свод пищевых международных стандартов «Кодексом Алиментариусом CAC/GL 24-1997» и EC Халяль-01:2012 стандартам. Сертификаты Халал индустрии Казахстана признаны в 68 странах мира.</p>
                </div>
            </div>
            <div>
                <div class="slider-img">
                    <img src="../img/cert-1.png">
                </div>
                <div class="text">
                    <h3>HALAL Kazakhstan</h3>
                    <p><span>HALAL CERTIFICATE</span>  - подтверждает, что весь цикл производства продукции и услуг «Халал» осуществляется согласно международным стандартам: МС 1500-2009 руководства по производству, изготовлению, обработке и хранению продукции Халал, стандарты IHI-Alliance: IHIA-0200:2010; IHIA-0600:2010; свод пищевых международных стандартов «Кодексом Алиментариусом CAC/GL 24-1997» и EC Халяль-01:2012 стандартам. Сертификаты Халал индустрии Казахстана признаны в 68 странах мира.</p>
                </div>
            </div>
            <div>
                <div class="slider-img">
                    <img src="../img/cert-1.png">
                </div>
                <div class="text">
                    <h3>HALAL Kazakhstan</h3>
                    <p><span>HALAL CERTIFICATE</span>  - подтверждает, что весь цикл производства продукции и услуг «Халал» осуществляется согласно международным стандартам: МС 1500-2009 руководства по производству, изготовлению, обработке и хранению продукции Халал, стандарты IHI-Alliance: IHIA-0200:2010; IHIA-0600:2010; свод пищевых международных стандартов «Кодексом Алиментариусом CAC/GL 24-1997» и EC Халяль-01:2012 стандартам. Сертификаты Халал индустрии Казахстана признаны в 68 странах мира.</p>
                </div>
            </div>
            <div>
                <div class="slider-img">
                    <img src="../img/cert-1.png">
                </div>
                <div class="text">
                    <h3>HALAL Kazakhstan</h3>
                    <p><span>HALAL CERTIFICATE</span>  - подтверждает, что весь цикл производства продукции и услуг «Халал» осуществляется согласно международным стандартам: МС 1500-2009 руководства по производству, изготовлению, обработке и хранению продукции Халал, стандарты IHI-Alliance: IHIA-0200:2010; IHIA-0600:2010; свод пищевых международных стандартов «Кодексом Алиментариусом CAC/GL 24-1997» и EC Халяль-01:2012 стандартам. Сертификаты Халал индустрии Казахстана признаны в 68 странах мира.</p>
                </div>
            </div>
            <div>
                <div class="slider-img">
                    <img src="../img/cert-1.png">
                </div>
                <div class="text">
                    <h3>HALAL Kazakhstan</h3>
                    <p><span>HALAL CERTIFICATE</span>  - подтверждает, что весь цикл производства продукции и услуг «Халал» осуществляется согласно международным стандартам: МС 1500-2009 руководства по производству, изготовлению, обработке и хранению продукции Халал, стандарты IHI-Alliance: IHIA-0200:2010; IHIA-0600:2010; свод пищевых международных стандартов «Кодексом Алиментариусом CAC/GL 24-1997» и EC Халяль-01:2012 стандартам. Сертификаты Халал индустрии Казахстана признаны в 68 странах мира.</p>
                </div>
            </div>
        </div>
    </div>
</div>